.infoLabel {
    /*text-decoration: underline;*/
    margin: 15px 0;
    padding: 0;
    line-height: normal;
}

.infoValue {
    padding-left: 40px;
    font-weight: normal;
    margin: 0;
    line-height: normal;
}