@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

body {
    background-color: #f7f7f7;
    font-family: "Lato" sans-serif;
}

.container {
    max-width: 960px; 
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form input {
    width: 300px;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
    border: 0.5px solid #138b4366;
    border-radius: 5px;
}

form input:focus {
    outline: none;
}

form button {
    width: 100px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #ccc;
}

.news-container {
    margin-top: 30px;
}

.news-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 16px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.read-more-button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 10px;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.news-card h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #1c1e29;
}

.pagination {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    list-style: none;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 0 8px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 20px;
    background: #77f7aa14;
    color: rgb(60, 168, 71);
}

.pagination a:hover {
    background-color: rgb(60, 168, 71);
    color: #fff;
    cursor: pointer;
}

.pagination .active-page a {
    background-color: rgb(60, 168, 71);
    color: #fff;
    cursor: pointer;
}
